{% extends "base.html"%}
{% block navigator %}
<div id="Hmenu" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
    </div>
</div>
{% endblock %}
{% load staticfiles %}
{% block title %}Taranis{% endblock %}
{% block head %}
{% endblock %}
{% block navigator_v %}
<div class="container-fluid">
  <div id="mySidenav" class="sidenav">
    <img src="{{ STATIC_URL }}images/logo-principal.png" width="130" height="130" alt="Logo" class="img-responsive">
</div>
{% block content %}{% endblock %}
{% endblock %}
