.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}



.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner {
    width: 10px;
}

.has-spinner.btn-small.active .spinner {
    width: 13px;
}

.has-spinner.btn.active .spinner {
    width: 16px;
}

.has-spinner.btn-large.active .spinner {
    width: 19px;
}

/*
.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: #5cb85c;

}


.table-striped tbody tr:nth-child(odd):hover td {
   background-color: #5cb85c;
}

/* Switch */
.onoffswitch {
    position: relative; width: 69px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 28px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 26px; padding: 0; line-height: 26px;
    font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 5px;
    background-color: #5CB85C; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 5px;
    background-color: #D9534F; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 17px; margin: 4.5px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 28px;
    position: absolute; top: 0; bottom: 0; right: 39px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}




.errorlist {
    color: #D9534F;
}

.img-parking{
    width: 20%;
    float: left;
    position: relative;
}

.coche-entrada{
    padding-top: 13%;
    left: 3%;
    visibility: hidden; 
/*    visibility: visible; */
}

.coche-medio{
    padding-top: 29%;
    left: 20%;
    visibility: hidden; 
/*    visibility: visible; */
}

.esclusa{
    left: 23%;
    padding-top: 23%;
    visibility: hidden; 
/*    visibility: visible;*/
}

.coche-salida{
    left: 36%;
    padding-top: 46%;
    visibility: hidden;
/*    visibility: visible */
}

.diagrama-sistema{
    position: relative;
    margin-top: -32%;

}

.tabla-sistema{
    width: 17%;
}

.primera-barrera{
    left: 6%;
    padding-top: 6%;
    visibility: hidden; 
/*    visibility: visible;*/
}

.no-visible{
    visibility: hidden;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.label-as-badge {
    border-radius: 1em;
}

.scrollable-table{
    overflow: auto;
    height: 40vh;
    width: 100%;
    margin-bottom: 20px;
}
