
/* PANTALLAS GRANDES */
	body  {
	/*	background: red;	*/
	}

	section#principal{
		margin: auto;
		text-align:center;in;
	}

	div#titulos {
		margin: auto;
		text-align:center;in;
    }

	

